h2 {
    font-size: 32px;
    font-weight: 500;
    color: #82E600;
    line-height: 1.7;
    letter-spacing: 1px;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    color: black;
    letter-spacing: 4px;
}

p {
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.8px;
}

.section_story,
.section_effort,
.section_faith {
    width: 100%;
}

.story_container {
    overflow: hidden;
    padding: 30px 0 210px;
    position: relative;
}

.story_container .story_bg {
    width: 1146px;
    position: absolute;
    top: 260px;
    left: 38%;
    z-index: -1;
}

.story_container .story_bg img {
    width: 100%;
}

.story_container .story_wrap {
    padding: 0 5%;
}

.story_container .story_wrap .story_pic {
    width: 100%;
}

.story_container .story_wrap .story_pic img {
    width: 100%;
    vertical-align: top;
}

.story_container .story_wrap .story_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding-left: 8%;
}

.effort_container {
    position: relative;
}

.effort_container .bg_text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -25px;
    overflow: hidden;
}

.effort_container .bg_text .bg_mao {
    width: 248px;
    margin-left: -50px;
}

.effort_container .bg_text .bg_dou {
    width: 240px;
    margin-right: -50px;
}

.effort_container .bg_mao img,
.effort_container .bg_dou img {
    width: 100%;
}

.effort_container .effort_wrap {
    width: 74%;
    margin: auto;
    padding-bottom: 200px;
}

.effort_wrap .effort_pic {
    position: relative;
}

.effort_wrap .effort_pic img {
    width: 100%;
    vertical-align: top;
}

.effort_wrap .effort_text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px 0 0 28%;
}

.effort_container .effort_rotate {
    width: 150px;
    position: absolute;
    bottom: 30px;
    right: 200px;

    animation: rotate;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.effort_container .effort_rotate img {
    width: 100%;
}

.section_faith .faith_container {
    background-color: #F4F4EC;
}

.faith_container {
    padding: 70px 0;
    position: relative;

}

.faith_container .faith_title {
    text-align: center;
}

.faith_container .faith_cardlist {
    width: 74%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 50px 0;
}

.faith_cardlist .faith_card {
    width: 144px;
    padding: 10px;
    position: relative;
    /* outline: solid red 1px; */
    text-align: center;
}

.faith_cardlist .faith_card .card_circle {
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 50%;
    margin: 10px auto 0;
}

.faith_cardlist .faith_card .card_pic {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.faith_cardlist .faith_card .card_pic img {
    width: 100%;

}

.faith_cardlist .faith_card .card_text .card_title {
    padding: 20px 0 4px;
}

.faith_container .faith_article {
    width: 40%;
    margin: auto;
    padding: 30px 0 120px;
}

.faith_container .faith_bottompic {
    width: 1040px;
    margin: auto;
    position: relative;
}

.faith_container .faith_bottompic img {
    width: 100%;
    vertical-align: top;
}

.faith_container .faith_bottompic .deco_text {
    font-size: 44px;
    font-weight: 500;
    color: #82E600;
    writing-mode: vertical-rl;
    letter-spacing: 0.45em;
    position: absolute;
    top: -140px;
    left: 60px;
}


@media screen and (1024px > width) {
    .story_container {
        padding: 30px 0 60px;
    }

    .story_container .story_bg {
        display: none;
    }

    .effort_wrap .effort_pic {
        position: relative;
    }

    .effort_wrap .effort_pic .pic_down {
        width: 78%;
    }

    .effort_wrap .effort_pic .pic_up {
        width: 45%;
        position: absolute;
        top: 80%;
        left: 60%;
    }
}



/*---------768px以上，1024px以下-----------*/

@media screen and (1024px > width >=768px) {

    .story_container .story_wrap {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 5%;
    }

    .story_container .story_wrap .story_pic {
        width: 46%;
    }

    .story_container .story_bg {
        display: block;
        width: 1146px;
        position: absolute;
        top: 260px;
        left: 38%;
        z-index: -1;
    }

    .story_container .story_bg img {
        width: 100%;
    }

    .effort_container .effort_wrap {
        display: flex;
        width: 74%;
        margin: auto;
        padding-bottom: 200px;
    }
}



/*---------1024px以上-----------*/

@media screen and (width >=1024px) {

    h2 {
        font-size: 32px;
        font-weight: 500;
        color: #82E600;
        line-height: 1.7;
        letter-spacing: 1px;
    }

    h3 {
        font-size: 24px;
        font-weight: 400;
        color: black;
        letter-spacing: 4px;
    }

    p {
        font-size: 16px;
        font-weight: 300;
        line-height: 2;
        letter-spacing: 0.8px;
    }

    .section_story,
    .section_effort,
    .section_faith {
        width: 100%;
    }

    .story_container {
        overflow: hidden;
        padding: 30px 0 200px;
        position: relative;
        outline: solid red 1px;
    }

    .story_container .story_bg {
        width: 1146px;
        /* margin-left: 38%; */
        position: absolute;
        top: 35%;
        left: 38%;
        z-index: -1;
    }

    .story_container .story_bg img {
        width: 100%;
    }

    .story_container .story_wrap {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 5%;
    }

    .story_container .story_wrap .story_pic {
        width: 54%;

    }

    .story_container .story_wrap .story_pic img {
        width: 100%;
        vertical-align: top;
    }

    .story_container .story_wrap .story_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        padding-left: 8%;
    }

    .effort_container {
        position: relative;
    }

    .effort_container .bg_text {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: -25px;
        overflow: hidden;
    }

    .effort_container .bg_text .bg_mao {
        width: 248px;
        margin-left: -50px;
    }

    .effort_container .bg_text .bg_dou {
        width: 240px;
        margin-right: -50px;
    }

    .effort_container .bg_mao img,
    .effort_container .bg_dou img {
        width: 100%;
    }

    .effort_container .effort_wrap {
        display: flex;
        width: 74%;
        margin: auto;
        padding-bottom: 200px;
    }

    .effort_wrap .effort_pic {
        position: relative;
        margin-top: -60px;
    }

    .effort_wrap .effort_pic .pic_down {
        width: 318px;
    }

    .effort_wrap .effort_pic .pic_up {
        width: 216px;
        position: absolute;
        top: 360px;
        left: 260px;
    }

    .effort_wrap .effort_pic img {
        width: 100%;
        vertical-align: top;
    }

    .effort_wrap .effort_text {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 50px 0 0 28%;
    }

    .effort_container .effort_rotate {
        width: 150px;
        position: absolute;
        bottom: 30px;
        right: 200px;

        animation: rotate;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-360deg);
        }
    }

    .effort_container .effort_rotate img {
        width: 100%;
    }

    .section_faith .faith_container {
        background-color: #F4F4EC;
    }

    .faith_container {
        padding: 70px 0;
        position: relative;

    }

    .faith_container .faith_title {
        text-align: center;
    }

    .faith_container .faith_cardlist {
        width: 74%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding: 50px 0;
    }

    .faith_cardlist .faith_card {
        width: 144px;
        padding: 10px;
        position: relative;
        /* outline: solid red 1px; */
        text-align: center;
    }

    .faith_cardlist .faith_card .card_circle {
        width: 120px;
        height: 120px;
        background-color: #fff;
        border-radius: 50%;
        margin: 10px auto 0;
    }

    .faith_cardlist .faith_card .card_pic {
        width: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .faith_cardlist .faith_card .card_pic img {
        width: 100%;

    }

    .faith_cardlist .faith_card .card_text .card_title {
        padding: 20px 0 4px;
    }

    .faith_container .faith_article {
        width: 40%;
        margin: auto;
        padding: 30px 0 120px;
    }

    .faith_container .faith_bottompic {
        width: 1040px;
        margin: auto;
        position: relative;
    }

    .faith_container .faith_bottompic img {
        width: 100%;
        vertical-align: top;
    }

    .faith_container .faith_bottompic .deco_text {
        font-size: 44px;
        font-weight: 500;
        color: #82E600;
        writing-mode: vertical-rl;
        letter-spacing: 0.45em;
        position: absolute;
        top: -140px;
        left: 60px;
    }
}